/* static/style.css */
body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
                url('/static/bg1.webp') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    margin: 0;
    padding: 0;
}

h1, h3 {
    text-align: center;
    margin-top: 1rem;
}

a {
    color: #00f0ff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #ffffff;
}

form {
    max-width: 600px;
    margin: 2rem auto;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    border-radius: 10px;
}

form div {
    margin-bottom: 1rem;
}

input, select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

input[type=submit] {
    background-color: #00f0ff;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #ffffff;
}
